@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #191919;
    font-weight: 500;
}
h1{
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    @media(max-height:720px){
        margin-bottom: 70px;
    }
    @media(max-height:667px){
        margin-bottom: 90px;
    }
}
.container{
    max-width: 1280px;
    padding: 0px 20px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
.all-turs{
    width: 100%;
    height: calc(100vh - 50px);
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        
        li{
            max-width: 950px;
            width: 100%;
            height: 50px;
            a{
                width: 100%;
                height:100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #35f1c2;
                border-radius: 50px;
                font-weight: 700;
                color: #191919;
                font-size: 18px;
            }
            
        }
    }
}

.tur{
    // padding: 20px 0px;
    align-items: center;
}
.teams{
    margin-bottom: 100px;
    h1{
        margin-bottom: 20px;
    }
    ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        .tur{
            width: 100%;
            
            h3{
                text-align: center;
                margin-bottom: 20px;
                padding-bottom: 5px;
                border-bottom: 2px solid #191919;
                width: fit-content;
                margin: 0 auto 20px auto;
                padding: 0 20px 5px 20px;
            }
        }
        li{
            display: flex;
            align-items: center;
            column-gap: 20px;
            justify-content: space-between;
            width: 100%;
            @media(max-width:550px){
                column-gap: 10px;
            }
            @media(max-width:450px){
                flex-direction: column;
                border-bottom: 2px solid #191919;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            p{
                width:100% ;
                display: flex;
                column-gap: 20px;
                align-items: center;
                @media(max-width:550px){
                    column-gap: 10px;
                }
                @media(max-width:450px){
                    flex-direction: column;
                }
                &:last-of-type{
                    flex-direction: row-reverse;
                    @media(max-width:450px){
                        flex-direction: column-reverse;
                    }
                    a{
                        border-radius: 0;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }
                }
                span{
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            a{
                width: 100%;
                height: 50px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: #5b1dce;
                color: #fff;
                border: none;
                outline: none;
                font-weight: 700;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.win{
                    background-color: #05c494;
                    color: #191919;
                }
                &.lose{
                    background-color: #dd4343;
                }
              
            }
        }
    }
}

//back-btn
.back-btn{
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    // background-color: ;
    outline: none;
    cursor: pointer;
    column-gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
    @media(max-width:500px){
        margin-left: 10px;
    }
}

//teams-flex
.teams-flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 50px;
}

//team
.team{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    min-height: 300px;
    padding-left: 30px;
    @media(max-width:768px){
        padding-left: 15px;
    }
    @media(max-width:550px){
        padding-left: 5px;
    }
    &:first-child{
        border-right: 2px solid rgb(0,0,0);
        padding-left: 0;
        padding-right: 30px;
        @media(max-width:768px){
            padding-right: 15px;
        }
        @media(max-width:550px){
            padding-right: 5px;
        }
    }
    //title
    &-title{
        display: flex;
        align-items: center;
        column-gap: 20px;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
        h2{
            font-size: 40px;
            overflow: hidden;
            width: 100%;
            text-overflow:ellipsis ;
            text-wrap: nowrap;
            @media(max-width:768px){
                font-size: 27px;
            }
            @media(max-width:600px){
                font-size: 22px;
            }
        }
        strong{
            font-size: 40px;
            @media(max-width:768px){
                font-size: 27px;
            }
        }
        
       
    }
    &:last-of-type{
        align-items: flex-end;
        ul{
            align-items: flex-end;
            li button{
                @media(max-width:768px){
                    text-align: right;
                }
            }
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        row-gap: 20px;
        li{
            width: 100%;
            button{
                cursor: pointer;
                background-color: #5b1dce;
                border: none;
                color: #fff;
                font-size: 18px;
                width: 100%;
                min-height: 45px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 5px 20px;
                border-radius: 10px;
                text-align: right;
                column-gap: 5px;
                &.fdc{
                    text-align: left;
                    span{
                        @media(max-width:768px){
                            width: 100%;
                            height:22px;
                            justify-content: flex-start;
                        }
                    }
                }
                span{
                    display: flex;
                    @media(max-width:768px){
                        width: 100%;
                        height:22px;
                        align-items: center;
                        justify-content: flex-end;
                        flex-wrap: nowrap;
                        overflow: hidden;
                        overflow-x: auto;
                        text-wrap: nowrap;
                    }
                }
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        fill: #191919;
                    }
                    //yellow-card
                    &.yellow-card{
                        svg{
                            fill: #e4d729;
                        }
                    }
                    &.red-card{
                        svg{
                            fill: #dd4343;
                        }
                    }
                }
                &.have-red-card{
                    opacity: .7;
                }
                @media(max-width:768px){
                    font-size: 14px;
                    text-align: left;
                    flex-direction: column-reverse;
                    align-items: flex-end;
                    padding: 5px 10px;
                    row-gap: 5px;
                    justify-content: center;
                    &.fdc{
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                       
                    }
                }
                // @media(max-width:550px){
                //     padding: 5px 10px;
                // }
               
                
            }
        }
    //    &:last-of-type li span{
    //          margin-left: 10px;
    //     }
    }
     // второй ул 
     &:last-of-type{
        ul{
            li{
                button{
                    justify-content: flex-end;
                    
                }
            }
        }
    }
}

.match{
    //titles
    &-titles{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    //date
    &-date{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
        @media(max-width:768px){
            font-size: 18px;
        }
    }
    h1{
        // position: absolute;
        // right: 30px;
        // top: 20px;
        padding: 0;
        padding: 30px 40px 0px 0px;
        color: #5b1dce;
        @media(max-width:768px){
            font-size: 27px;
        }
        @media(max-width:550px){
            padding: 25px 25px 0px 0px;
            font-size: 23px;
        }
    }
}

// modal-data
.modal-data{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,.75);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &.active{
        display: flex;
    }
    //fl;ex
    &-flex{
        display: flex;
        align-items: center;
        column-gap: 30px;
    }
    h3{
        font-size: 35px;
        color: #fff;
        margin-bottom: 100px;
        text-align: center;
        @media(max-width:600px){
            font-size: 28px;
        }
    }
    .data-btn{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgb(102,102,102,.5);
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
       
        &:hover{
            transition: .3s;
            transform: translateY(-5px);
        }
        &:active{
            transform: translateY(5px);
        }
        &.modal-data-goal svg{
            fill: #fff;
        }
        &.modal-data-yellow svg{
            fill: #e4d729;
        }
        &.modal-data-red svg{
            fill: #dd4343;
        }
        svg{
            width: 120px;
            height: 120px;
        }
        @media(max-width:600px){
            width: 100px;
            height: 100px;
            svg{
                width: 80px;
                height: 80px;
            }
        }
    }
    //close
    &-close{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            transition: .3s;
            transform: translateY(-5px);
        }
        &:active{
            transform: translateY(5px);
        }
        background-color: rgb(102,102,102,.5);
        position: absolute;
        right: 30px;
        top: 30px;
        svg{
            fill: #fff;
            width: 35px;
            height: 35px;
        }
    }
}


//modal-alert
.modal-alert{
    max-width: 550px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    min-height: 300px;
    position: absolute;
    top: 50%;
    padding: 20px;
    left: 50%;
    box-shadow: 0 0 10px 10px rgb(255,255,255,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: .5s;
    width: 0%;
    // height: 0;
    display: none;
    opacity: 0;
    transform: scale(0) translate(-50%,-50%);
    &.display{
        display: flex;
    }
    &.active{
        transition: .5s;
        width: 100%;
        transform: scale(1) translate(-50%,-50%);
        opacity:1;
    }
    p{
        margin-bottom: 40px;
        font-size: 18px;
    }
    //btns
    &-btns{
        display: flex;
        align-items: center;
        column-gap: 30px;
        button{
            height: 40px;
            cursor: pointer;
            border: none;
            width: 100px;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 500;
            background-color: #dd4343;
            color: #fff;
            transition: .3s;
            &:last-of-type{
                background-color: #05c494;
            }
            &:hover{
                transition: .3s;
                transform: translateY(-5px);
            }
            &:active{
                transform: translateY(5px);
            }
        }
    }
}


.ended-match-btn{
    max-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #dd4343;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 50px;
    transition: .3s;
    &:hover{
        transition: .3s;
        transform: translateY(-3px);
    }
    &:active{
        transform: translateY(3px);
    }
}

//end-match-modal
.end-match-modal{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    &.active{
        display: flex;
    }
    //wrapp
    &-wrapp{
        max-width: 750px;
        width: 100%;
        min-height:350px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 10px rgb(255,255,255,.15);
        padding: 20px 20px;
    }
    h2{
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        strong{
            flex: 4;
            text-align: center;
            font-size: 25px;
        }
        span{
            text-align: center;
            flex: 4;
            font-size: 20px;
        }
        &:last-of-type{
            justify-content: center;
        }
    }
    //btns
    &-btns{
        margin-top: auto;
        display: flex;
        align-items: center;
        column-gap: 40px;
        justify-content: center;
        button{
            max-width: 120px;
            width: 100%;
            height: 45px;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            color: #fff;
            background-color: #dd4343;
            &:last-of-type{
                background-color: #05c494;
            }
            transition: .3s;
            &:hover{
                transition: .3s;
                transform: translateY(-3px);
            }
            &:active{
                transition: .3s;
                transform: translateY(3px);
            }
        }
    }
}

// admin modal
.admin-modal{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    backdrop-filter: blur(2px);
    &.see{
        backdrop-filter: blur(0px);
        background-color: rgb(0,0,0,.4);
        p{
            display: none;
        }
    }
    .back-btn{
        position: fixed;
        left: 0;
        top: 0;
    }
    p{
        text-align: center;
        color: #fff;
        font-size: 18px;
        text-wrap:balance;
        padding: 0 5px;
    }
    .protocol-see-btn{
        position: absolute;
        top: 30px;
        right: 20px;
        width: 40px;
        background-color: transparent;
        border: none;
        backface-visibility: hidden;
        cursor: pointer;
        &:before{
            content: "";
            position: absolute;
            top: -4px;
            left: 3px;
            transform: rotate(50deg);
            width: 130%;
            height: 4px;
            background-color: #fff;
            transform-origin: left;
            transition: .1s;
        }
        &.see::before{
            transition: .1s;
            opacity: 0;
        }
        svg{
            fill: #fff;
        }
    }
}

.form{
    width: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 750px;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: #f7f7f7;
        padding: 40px;
        h1{
            padding: 0;
        }
        @media(max-width:500px){
            padding: 20px;
        }
        label{
            position: relative;
            margin-bottom: 20px;
        }
        input{
            border-radius: 8px;
            width: 100%;
            height: 45px;
            padding: 0 10px;
            font-size: 16px;
            outline: none;
            border: 1px solid #191919;
           
            transition: .3s;
            &:focus{
                transition: .3s;
                border-color: #05c494;
            }
        }
        .form-btn{
            height: 45px;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: #fff;
            background-color: #05c494;
            cursor: pointer;
            transition: .3s;
            &:hover{
                transition: .3s;
                transform: translateY(-3px);
            }
            &:active{
                transform: translateY(3px);
            }
        }
        .pass-eye{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            height:100%;
            width: 30px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            backface-visibility:visible;
            &:before{
                content: "";
                position: absolute;
                top: 4px;
                left: 2px;
                transform: rotate(50deg);
                width: 130%;
                height: 3px;
                background-color: #191919;
                transform-origin: left;
                transition: .1s;
            }
            svg{
                width: 24px;
            }
            &.see::before{
                transition: .1s;
                opacity: 0;
            }
        }
       span{
        margin-bottom: 20px;
        color: #dd4343;
        font-weight: 500;
        font-size: 16px;
       }
    }
}

//not-found
.not-found{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        @media(max-width:475px){
            font-size: 25px;
        }
        @media(max-width:400px){
            font-size: 22px;
        }
    }
    p{
        text-align: center;
        font-size: 150px;
        @media(max-width:768px){
            font-size: 120px;
        }
        @media(max-width:600px){
            font-size: 90px;
        }
        @media(max-width:475px){
            font-size: 70px;
        }
        @media(max-width:400px){
            font-size: 60px;
        }
    }
    a{
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        color: #fff;
        background-color: #dd4343;
        margin-top: 50px;
    }
}


/******** table ***/
.table {
    width: 100%;

    .table-flex {
        display: flex;

        div {
            flex: 6;
        }

        .table-flex-two {
            @media(max-width:700px) {
                flex: 8;
            }

            @media(max-width:600px) {
                width: 320px;
                overflow-x: scroll;
            }

        }
    }





    table {
        tr {
            height: 40px;

            th {
                height: inherit;
                white-space: nowrap;
            }

            td {
                height: inherit;
                white-space: nowrap;
            }
        }
    }


    // first table
    table.table-one {
        width: 50%;
        margin-top: 20px;

        @media(max-width:600px) {
            margin-right: 20px;
        }

        @media(max-width:480px) {
            margin-right: 10px;
        }

        th {
            padding: 0 20px;

            @media(max-width:480px) {
                width: 70px;
                text-overflow: ellipsis;
            }
        }

        tr {
            display: flex;
            align-items: center;
            margin-bottom: 2px;

            // number table
            .team-number {
                width: 40px;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 3px solid #fff;

                @media(max-width:480px) {
                    width: 25px;
                    border-width: 2px;
                }

                &.liders {
                    border-color: blue;
                }

                &.tops {
                    border-color: orange;
                }

                &.outsiders {
                    border-color: red;
                }
            }
        }

        img.logo-club {
            margin-right: 10px;

            @media(max-width:480px) {
                height: 20px;
                margin-right: 3px;
            }
        }

        .club-name {
            white-space: nowrap;

            @media(max-width:480px) {
                width: 85px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media(max-width:480px) {
                font-size: 14px;
            }
        }
    }


    // table two 
    .table-two {
        margin-top: 20px;

        @media(max-width:600px) {
            width: 320px;
            overflow-x: scroll;
        }


        th {
            width: 40px;

            @media(max-width:480px) {
                font-size: 14px;
                width: 25px;
            }

            &:last-child {
                width: auto;
            }
        }

        td {
            width: 40px;
            text-align: center;

            @media(max-width:480px) {
                font-size: 14px;
                width: 25px;
            }




            &:last-child {
                width: auto;



                div {
                    height: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        height: inherit;
                        margin: 0 5px;
                        display: flex;
                        align-items: center;

                        img {
                            margin: 0 2px;
                        }

                        @media(max-width:480px) {
                            img {
                                width: 17px;
                            }
                        }

                    }
                }
            }
        }
    }







    // table-footer  
    .table-footer {
        margin-top: 40px;
        width: 99.5%;
        border: 0.5px solid #ccc;



        // flex 
        .table-footer-flex {
            display: flex;
            padding: 10px 18px;
        }

        // info blok
        .table-footer-info {
            margin-right: 100px;

            @media(max-width:480px) {
                margin-right: 40px;
            }

            // lider info
            .table-liders {
                display: flex;
                align-items: center;


                span {
                    width: 7px;
                    height: 7px;
                    background-color: blue;
                    display: block;
                    margin-right: 10px;
                }
            }

            .table-tops {
                display: flex;
                align-items: center;


                span {
                    width: 7px;
                    height: 7px;
                    background-color: orange;
                    display: block;
                    margin-right: 10px;
                }
            }

            .table-outsiders {
                display: flex;
                align-items: center;


                span {
                    width: 7px;
                    height: 7px;
                    background-color: red;
                    display: block;
                    margin-right: 10px;
                }
            }

            .table-coments {

                div {
                    display: flex;
                    align-items: center;
                    white-space: nowrap;

                    span {
                        width: 7px;
                        height: 7px;
                        background-color: #000;
                        margin-right: 10px;
                    }
                }
            }
        }

        .table-footer-last-5 {
            div {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                white-space: nowrap;

                img {
                    margin-right: 10px;
                }
            }
        }
    }
}


.table-link{
    width: calc(100% - 100px);
    height: 40px;
    border-radius: 10px;
    background-color: #191919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}



//diler 
.diler{
    position: relative;
    //head
    &-head{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        //title
        &-title{
            h1{
                margin: 0;
                padding: 0;
                text-align: left;
                margin-bottom: 10px;
                @media(max-width:768px){
                    font-size: 22px;
                }
            }
            P{
                font-weight: 500;
                color: #e45118;
                span{
                    font-size: 20px;
                }
                
            }
           
        }
    }
}

//transfer-btn
.transfer-btn{
    height: 45px;
    max-width: 150px;
    width: 100%;
    border-radius: 25px;
    background-color: #22c445;
    border: none;
    color: #fff;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: .3s;
    span{
        position: relative;
        left: -10px;
    }
    img{
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover{
        transform: translateY(-3px);
        transition: .3s;
    }
    &:active{
        transform: translateY(3px);
    }
}


//transfer-team-list
.transfer-team-list{
    padding: 20px 0px;
    margin-bottom: 40px;
    // border-top: 1px solid rgb(102,102,102,.5);
    // border-bottom: 1px solid rgb(102,102,102,.5);
    h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    ul{
        display: flex;
        flex-direction: column;
        @media(max-width:767px){
            overflow: hidden;
            overflow-x: auto;
        }
        li{
            @media(max-width:767px){
               overflow: hidden;
               overflow-x: auto;
               width: 500px;
            }
            &:first-of-type{
                border-top:1px solid #ccc;
            }
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-bottom: 1px solid #ccc;
            padding-right: 20px;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                &:first-of-type{
                    width: 40px;
                    @media(max-width:767px){
                        width: 50px;
                        text-wrap: nowrap;
                    }
                }
                &:nth-of-type(2){
                    flex: 4;
                    text-align: left;
                    
                    @media(max-width:767px){
                        width: 200px;
                        text-wrap: nowrap;
                     }
                }
                &:nth-of-type(3){
                    flex: 4;
                    justify-content: flex-start;
                    svg{
                        fill: #22c445;
                    }
                    @media(max-width:767px){
                        width: 50px;
                        text-wrap: nowrap;
                    }
                }
                
                &:nth-of-type(4){
                    width: 35px;
                    height: 35px;
                    background-color: rgb(224, 224, 45);
                    border-radius: 50%;
                    @media(max-width:767px){
                        width: 35px;
                        
                        text-wrap: nowrap;
                    }
                }
                &:nth-of-type(5){
                    width: 35px;
                    height: 35px;
                    background-color: rgb(197, 43, 43);
                    border-radius: 50%;
                    color: #fff;
                    @media(max-width:767px){
                        width: 35px;
                        text-wrap: nowrap;
                    }
                }
            }
        }
    }
}


//transfer-modal
.transfer-modal{
    position: fixed;
    bottom:0;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    display: none;
    backdrop-filter: blur(2px);
    background-color: rgb(0,0,0,.5);
    &.active{
        display: block;
    }
    .container{
        @media(max-width:350px){
            padding:0 10px ;
            padding-top: 40px;
        }
    }
    //wrapper
    &-wrapper{
        position: absolute;
        bottom: -100%;
        background-color: #fff;
        width: 100%;
        height: 80vh;
        transition: .3s;
        .close-modal{
            position: absolute;
            top: 5px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 40px;
            background-color: rgb(255,255,255,.1);
            border-radius: 50%;
            border: none;
            outline: none;
            color: #191919;
            cursor: pointer;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.block{
            transition: .5s;
            bottom: 0%;
        }
        &.top{
            transition: .3s;
            height: calc(100vh - 30px);
            .top-arrow{
                    transition: .3s;
                    transform-origin: center;
                    transform:translateX(-50%) rotate(180deg);
                    border: none;
                    border-bottom: 2px solid rgb(0,0,0,.1);
            }
        }
        
        .top-arrow{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            border-top: 2px solid rgb(0,0,0,.1);
            cursor: pointer;
        }
        h3{
            font-size: 20px;
            color: #191919;
            margin-bottom: 50px;
            text-align: center;
            @media(max-width:400px){
                font-size: 18px;
                text-align: center;
            }
        }
        //flex
        &-flex{
            display: flex;
            column-gap: 20px;
            justify-content: space-between;
            @media(max-width:1000px){
                flex-direction: column;
                row-gap: 40px;
            }
            form{
                display: flex;
                flex-direction: column;
                max-width: 320px;
                width: 100%;
                @media(max-width:1000px){
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    max-width: 100%;
                    column-gap: 15px;
                }
                .check-other-team-player{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    column-gap: 20px;
                    margin-bottom: 20px;
                    width: 100%;
                    @media(max-width:1000px){
                        grid-column: 1 / -1;
                    }
                    span{
                        font-size: 14px;
                    }
                }
                input{
                    max-width: 320px;
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    padding: 0 10px;
                    font-size: 16px;
                    margin-bottom: 20px;
                    border: 1px solid #ccc;
                    &[type=checkbox]{
                        width: 23px;
                        height: 23px;
                        margin-bottom: 0;
                        cursor: pointer;
                    }
                    &:focus{
                        border-color: #05c494;
                        outline: none;
                    }
                    @media(max-width:1000px){
                        max-width: 100%;
                    }
                    @media(max-width:540px){
                        font-size: 14px;
                    }
                    @media(max-width:400px){
                        &[type=number]{
                            grid-column: 1 / -1;
                        }
                    }
                }
                select{
                    width: 100%;
                    height: 40px;
                    font-size: 14px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    margin-bottom: 20px;
                    padding: 0 10px;
                   
                    option{
                        width: 100%;
                        max-width: 320px;
                        height: 40px;
                    }
                }
                // button
                button{
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    &:focus{
                        border:1px solid #05c494;
                    }
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #22c445;
                    @media(max-width:1000px){
                        grid-column: 1 / -1;
                    }
                }
            }
        }
    }
}


.select-title{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #dd4343;
}

//transfer-man-wrapper
.transfer-man-wrapper{
   
    position: relative;
    @media(max-width:1000px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        @media(max-width:1000px){
            height: 300px;
        }
        @media(max-width:540px){
            height: 250px;
        }
    }
    span{
        position: absolute;
        left: 0;
        top: 30px;
        color: #191919;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        @media(max-width:1000px){
            left: 200px;
        }
        @media(max-width:850px){
            left: 100px;
        }
        @media(max-width:640px){
            left: 50px;
        }
        @media(max-width:540px){
            font-size: 16px;
        }
        @media(max-width:400px){
            left: 0;
        }
        img{
            @media(max-width:1000px){
                height: 50px;
            }
            @media(max-width:540px){
                height: 30px;
                width: 50px;
            }
        }
        &.transfer-man-wrapper-lastname{
            left: auto;
            right: 0;
            top:50%;
            max-width: 200px;
            width: 100%;
            text-align: right;
            align-items: flex-end;
           
            img{
                transform: scale(-1,1);
            }
            @media(max-width:1000px){
                right: 200px;
                left: auto;
            }
            @media(max-width:850px){
                right: 100px;
            }
            @media(max-width:640px){
                right: 50px;
            }
            @media(max-width:400px){
                right: 0;
            }
        }
        &.transfer-man-wrapper-age{
            top:70%;
            img{
                transform: scale(1,-1);
            }
            @media(max-width:1000px){
                left: 200px;
            }
            @media(max-width:850px){
                left: 100px;
            }
            @media(max-width:640px){
                left: 50px;
            }
            @media(max-width:540px){
                left: 10px;
                top: 75%;
            }
        }
    }
}

.select-out-player{
    @media(max-width:400px){
        grid-column: 1 / -1;
    }
    .select-title{
        display: block;
        margin-bottom: 10px;
        margin-top: 0;
        @media(max-width:540px){
            font-size: 14px;
        }
    }
}


.out-player{
    opacity: .5;
    pointer-events: none;
}

.alert-delete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19,19,19,.7);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    //wrapper
    &-wrapper{
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    h3{
        margin-bottom: 10px;
    }
    li{
        display: flex;
        align-items: center;
        column-gap: 10px;
        justify-content: center;
        margin-bottom: 10px;
        svg{
            fill: #070a0a;
        }
    }
    button{
        min-width: 70px;
        height: 35px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        outline: none;
        margin-top: 40px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            transition: .3s;
            transform: translateY(-3px);
        }
        &:first-of-type{
            margin-right: 20px;
            background-color: #22c445;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
        }
        &:last-of-type{
            margin-right: 20px;
            background-color: #dd4343;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
        }
    }
    //alert-delete-join-player
    &-join-player{
        color:#22c445 ;
        font-weight: 700;
    }
    &-out-player{
        font-weight: 700;
        color: #dd4343;
    }
}

//transfer-draft
.transfer-draft{
    h2{
        margin-bottom: 20px;
    }

    ul{
        padding: 0 0 40px 0;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        li{
            display: flex;
            align-items: center;
            font-size: 16px;
            @media(max-width:482px){
                flex-direction: column;
            }
            span:first-child{
                margin-right: 20px;
                font-weight: 700;
                opacity: .7;
                @media(max-width:482px){
                    margin: 0;
                }
            }
            span:nth-child(3){
                margin-left: 20px;
                font-weight: 700;
                margin-right: 40px;
                @media(max-width:482px){
                    margin: 0;
                }
            }
            .transfer-verify-btns{
                display: flex;
                margin-left: 10px;
                @media(max-width:482px){
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
            .transfer-announce{
                background-color: transparent;
                border: 1px solid rgb(56, 197, 43);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 10px;
                position: relative;
                &::before{
                    
                    position: absolute;
                    content: "Rasmiylashtirish";
                    min-width:120px;
                    font-size: 13px;
                    top: -30px;
                    left: -45px;
                    background-color: rgb(0,0,0,.7);
                    border-radius: 10px;
                    padding: 2px ;
                    color: #fff;
                    display: none;
                }
                &:hover::before{
                    display: block;
                    @media(max-width:768px){
                        display: none;
                    }
                }
                svg{
                    fill: #22c445;
                    width: 30px;
                    height: 30px;
                }
            }
            .transfer-refusal{
                background-color: transparent;
                border: 1px solid rgb(197, 66, 43);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 10px;
                position: relative;
                &::before{
                    position: absolute;
                    content: "Bekor qilish";
                    width:100px;
                    font-size: 13px;
                    top: -30px;
                    left: -30px;
                    background-color: rgb(0,0,0,.7);
                    border-radius: 10px;
                    padding: 2px 0;
                    color: #fff;
                    display: none;
                }
                &:hover::before{
                    display: block;
                    @media(max-width:768px){
                        display: none;
                    }
                }
                svg{
                    fill: rgb(197, 66, 43);
                    width: 30px;
                    height: 30px;
                }
            }
            //transfer-ended
            &.transfer-ended{
                padding: 5px 20px;
                border-radius: 30px;
                background-color: rgb(35, 212, 19);
                order: 1;
            }
        }
    }
}

